COMPASSO_CLIENT_RELEASE_DEPLOY_TARGET=usuario@servidor
COMPASSO_CLIENT_RELEASE_DEPLOY_DIRECTORY=/srv/sites/compasso-admin-ui/downloads
COMPASSO_CLIENT_RELEASE_PUBLIC_BASE_URL=https://painel.exemplo.com
